@model aspnetcore_supermercado.DTO.FornecedorDTO
@{
    Layout = "_LayoutAdmin";
}

<h3>Novo Fornecedor</h3>
<hr/>

<form class="form-horizontal" asp-action="Salvar" asp-controller="Fornecedores" method="POST">
    <input type="hidden" asp-for="Id" value="0">

    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do fornecedor">
    <span asp-validation-for="Nome"></span>
    <br/>

    <label asp-for="Email">Email</label>
    <input type="email" asp-for="Email" class="form-control" placeholder="email@fornecedor.com">
    <span asp-validation-for="Email"></span>
    <br/>

    <label asp-for="Telefone">Telefone</label>
    <input asp-for="Telefone" class="form-control" placeholder="(00) 00000000">
    <span asp-validation-for="Telefone"></span>
    <br/>
    
    <button class="btn btn-success">Cadastrar</button>
</form>